/* COLOR PALETTE
header background: #3A004D;
body background: #F6F8FA;
title/active nav links: #FFFFFF;
nav links: #EFE5F2;
*/

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

* {
  font-family: "Raleway", sans-serif;
}

body {
    background-color: #F6F8FA;
    margin: 0;
    overflow-x: hidden;
}

header {
    background-color: #3A004D;
    padding: 1em 2em 0em;
}

header a {
    color: #EFE5F2;
}

header h1 a,
header a:active {
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

button {
    margin-top: 1.5em;
    font-size: 1em;
    height: 2em;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar a {
    padding-right: 1.5em;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-bottom: 0.5em;
    padding-left: 0;
}

.navbar li {
    float: left;
    padding-bottom: 1em;
}

.content,
.control {
    margin: 1em 1.5em;
    max-width: 95%;
}

.content p {
    padding-right: 1em;
    max-width: 95%;
}

form {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0;
}

fieldset {
    margin: 1em 0;
    padding-bottom: 0;
}

legend {
    font-size: 1.1em;
    font-weight: bold;
}

input:not([type=button]),
input:not([type=reset]) {
    margin-top: 0.5em;
}

input[type=button],
input[type=reset] {
    font-size: 1em;
    margin: 1em 0;
}

input:checked {
    accent-color: #3A004D;
}

input:checked + label {
    font-weight: bold;
}

.prompt {
    margin-top: 1.5em;
    border-style: solid;
    border-width: thin;
    border-radius: 6px;
    max-width: 80%;
    min-height: 6em;
}

.output p {
    font-size: 1em;
    margin: 1.25em;
}

select {
  margin-left: 1em;
}

.row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.row .control {
    flex: 15%;
    max-width: 100%;
}

.row .content {
    flex: 70%;
    /* max-width: 100%; */
}

.control {
    flex-basis: 15%;
}

@media (max-width: 800px) {
    .row {
        flex-wrap: wrap;
    }

    .row .control, 
    .row .content {
        flex: 100%;
    }

    form.control,
    form.control p {
        margin-bottom: 0;
    }

    form.control p {
        font-style: italic;
    }

    form.control p,
    .content p {
        font-size: 0.9em;
    }

    form p:nth-child(3),
    .content p:nth-child(2) {
        display: none;
    }

    .content {
        margin-top: 0;
    }

    .prompt {
        max-width: 100%;
    }
}