/* COLOR PALETTE
header background: #3A004D;
body background: #F6F8FA;
title/active nav links: #FFFFFF;
nav links: #EFE5F2;
*/

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

* {
  font-family: "Raleway", sans-serif;
}

body {
    background-color: #F6F8FA;
    margin: 0;
    overflow-x: hidden;
}

header {
    background-color: #3A004D;
    padding: 1em 2em 0em;
}

header a {
    color: #EFE5F2;
}

header h1 a,
header a:active {
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

button {
    margin-top: 1.5em;
    font-size: 1em;
    height: 2em;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar a {
    padding-right: 1.5em;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-bottom: 0.5em;
    padding-left: 0;
}

.navbar li {
    float: left;
    padding-bottom: 1em;
}

.row {
    display: flex;
    flex-direction: row;
}

.row .control {
    flex: 15%;
    flex-basis: 15%;
}

.row .content {
    flex: 70%;
}

.control,
.content {
    margin: 1em 1.5em;
    max-width: 95%;
}

.content p {
    padding-right: 1em;
    max-width: 95%;
}

form {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0;
}

fieldset {
    margin: 1em 0;
    padding-bottom: 0;
}

legend {
    font-size: 1.1em;
    font-weight: bold;
}

input[type=radio],
input[type=checkbox] {
    margin-top: 0.5em;
}

input[type=button],
input[type=reset] {
    font-size: 1em;
    margin: 1em 0;
}

input:checked {
    accent-color: #3A004D;
}

input:checked + label {
    font-weight: bold;
}

.radio-option {
    display: list-item;
    list-style-type: none;
    padding: 0;
}

.sub1 input {
    margin-left: 1.2em;
}

.prompt {
    margin-top: 1.5em;
    border-style: solid;
    border-width: thin;
    border-radius: 6px;
    max-width: 80%;
    min-height: 6em;
}

.output p {
    font-size: 1em;
    margin: 1.25em;
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    .row .control {
        flex: 25%;
    }
    
    .row .content {
        flex: 60%;
    }
}

@media screen and (max-width: 600px) {
    .row {
        flex-wrap: wrap;
        flex: 100%;
    }

    .control {
        margin-bottom: 0;
    }

    .control p {
        font-size: 0.9em;
        font-style: italic;
        margin-bottom: 0;
    }

    .radio-option {
        display: inline-block;
        vertical-align: top;
    }

    /* hides checkboxes if the plot option isnt selected */
    input[type=radio]:not(:checked) ~ .sub1 {
        display: none;
    }

    .control-button {
        display: block;
    }

    .content {
        margin-top: 0;
    }

    .content p {
        font-size: 0.9em;
    }

    p.note {
        display: none;
    }

    label {
        height: 100%;
    }

    .prompt {
        max-width: 100%;
    }
}