@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

* {
  font-family: "Raleway", sans-serif;
}

body {
    padding: 1em;
    padding-top: 0;
}

a {
    text-decoration: none;
    margin-right: 1em;
}

.content {
    margin-top: 1em;
}

select,
button,
#result {
  margin-left: 1em;
}